footer{
    background-color: rgb(235, 229, 221);
    padding:  10px;
    height: auto;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding-left: 0;
    font-weight: bold;
}


.nav-link {
    color: #479d92 !important;
}

main div.top-image {
    background-image: url("/assets/img/bg-hero.jpg");
    height: 220px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenido{
    width: 75%;
    margin-left: 2rem;
}

.img-portafolio{
    width: 27.5%;
    display: inline-flex;
    flex-wrap: wrap;
}

.cover-content-container{
    position: relative;
    
}

.cover_img{
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.details-wrap{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text-details {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    padding: 16px 32px;
  }


.cover-content-container:hover .cover_img {
    opacity: 0.3;
  }


.cover-content-container:hover .details-wrap {
    opacity: 1;
  }